<launch>
  <param name="/use_sim_time" value="true"/>

  <arg name="local_planner"          default="dwb"             doc="Local planner can be either dwa, dwb, eband, base, teb or pose" />
  <arg name="map_file" default="$(find sbpl_lattice_planner)/worlds/willow.yaml" doc="Path to a map .yaml file (required)." />
  <arg name="virtual_walls_map_file" default="$(arg map_file)" doc="Path to a virtual walls map .yaml file (optional)." />
  <arg name="with_virtual_walls" default="false" />
  <arg name="prefix" default="" />

  <!-- <include file="$(find sbpl_lattice_planner)/launch/move_base/move_base_sbpl.xml"/> -->
    <include file="$(find sbpl_lattice_planner)/launch/move_base/move_base.xml">
      <arg name="local_planner" value="$(arg local_planner)"/>
      <arg name="with_virtual_walls" value="$(arg with_virtual_walls)" />
      <arg name="prefix" value="$(arg prefix)" />
    </include>

  <node name="map_server" pkg="map_server" type="map_server" args="$(arg map_file)" ns="/" output="screen">
    <param name="frame_id" type="string" value="map"/>
  </node> 

  <node pkg="stage_ros" type="stageros" name="stageros" args="$(find sbpl_lattice_planner)/worlds/willow.world" respawn="false" >
    <param name="base_watchdog_timeout" value="0.2"/>
  </node>

  <node name="fake_localization" pkg="fake_localization" type="fake_localization" respawn="false" />
  
  <include file="$(find sbpl_lattice_planner)/launch/amcl.launch"> </include>

  <node pkg="rviz" type="rviz" name="rviz" args="-d $(find sbpl_lattice_planner)/rviz/sbpl.rviz" />
</launch>
